@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

main {
  @apply h-screen w-screen overflow-hidden flex justify-center items-center
}

/* main {
  @apply max-w-[1440px]
} */

section {
  @apply max-w-[1440px]
}

@layer utilities {

  .link::after {
    content: '';
    height: 9px;
    width: 0;
    position: absolute;
    bottom: -6px;
    background-color: #f3f3f3;
    left: 0;
    transition: width 0.3s ease;
    border-radius: 999px;
  }

  .link:hover::after {
    width: 100%;
  }

  .link-medium::after {
    content: '';
    height: 6px;
    width: 0;
    position: absolute;
    bottom: -4px;
    background-color: #f3f3f3;
    left: 0;
    transition: width 0.3s ease;
    border-radius: 999px;
  }

  .link-medium:hover::after {
    width: 100%;
  }

  .link-small::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: -2px;
    background-color: #f3f3f3;
    left: 0;
    transition: width 0.3s ease;
    border-radius: 999px;
  }

  .link-small:hover::after {
    width: 100%;
  }
}

.rotate-left {
  transform: rotate(45deg) translate(2.8px, -5px);
  transform-origin: left;
}

.rotate-right {
  transform: rotate(-45deg) translate(2.8px, 5px);
  transform-origin: left;
}

.dot::after {
  content: '.';
  color: #ed6829;
}
